body{
    font-family: 'Courier New', Courier, monospace; color:#000;
}

.container{
    max-width:375px;
}

p{
    margin:0;
    padding:0;
}

a {
    color:black;
}

a:visited{
    color:black;
}

.divider{
    border-top:1px dashed black; 
    border-bottom:1px dashed black; 
    margin-bottom:48px;
}

.divider p{
    margin:20px 0px;
}


.intro-info{
    margin-bottom: 32px;
    text-align: center; 
}

#links{
    text-align:center;
}

#links button {
    width:100%;
    background-color:#fff;
    padding:12px 0px;
    border:0;
}


.descriptor {
    font-size:12px;
}

.category-icon {
    position:absolute;
    height:35px;
    width:35px;
    background-color:#fff;
    border-radius: 100%;
    padding:8px;
    top:-15px; 
    left:-18px;
}

.item{
    position:relative;
    border:1px solid black; margin-bottom:32px;
}

.icon-bandcamp {
    background-image: url("img/bandcamp.svg");
    background-position: center center;
}

.link-info{
    padding:20px;
    color:black;
}

.link-info:hover{
    color:black;
}

.link-border{
    border-right:1px solid black;
}

.link-group{
    border-top:1px solid black;
}