h2{
    font-size:14px;
    font-style:italic;
}

.section-header{
    border-bottom:1px solid black;
    margin-bottom:20px;
}

#footer .row {
    margin-bottom:none;
}

#project-container .row{
    margin-bottom:50px;
}

#header{
    padding:50px 10px;
}

#logo{
    width:60px;
    height:auto;
    display:inline-block;
    float: right;
}

#description{
    margin-bottom:50px;
}

#projects{
    margin-top:10px;
}

.label {
    margin-top:10px;
    font-size:14px;
    font-style:italic;
}

.col img {
    vertical-align: middle;;
}

/* ------------------------- links page -------------------------------*/

#links button {
    width:100%;
    background-color:#fff;
    padding:12px 0px;
    border:0;
}

.descriptor {
    font-size:12px;
}

.category {
    height:35px;
    width:35px;
    background-color:#fff;
    border-radius: 100%;
    padding:8px;
}

.icon-bandcamp {
    background-image: url("img/bandcamp.svg");
    background-position: center center;
}


/* --------------------------------------------------------------------*/


/*These are place holders for now otherwise images are too small,
and get observed all at once because website doesn't have content

*Animation solution*
maybe add custom width and height for each specific image so that
the loading doesn't push your text further down and images don't 
randomly pop up as someone is reading

*No animation solution*
or instead of going through the trouble of setting each images 
width height create low resolution of images and load them initially
and have lazy load replace
*/

[data-img]{
    min-width: 400px;
    min-height: 400px;
    background-color: pink;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    #logo{
        display:none;
    }

 }